#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  margin: 0 1em;
}


.greyed-out {
  color: #888;
}

.game-history {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 2rem auto;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
    border-bottom: 1px solid #eee;
    gap: 5px;
  }

  li.search-result {
    background-color: orange;
  }
}
